# empty lines and lines starting with # are ignored
# other lines must be in format property=value
# where property is property in Options class

# where to find urls that sould be checked
# each line in this file can be either just the url
# or "url expect" where expect is string that is expected to be in reponse, this must be separated by space
#UrlsFile=urls.txt

# interval in minutes, how often to check urls
#Interval=5

# url chceck request fails if it returns non success status code (e.g. 404, 500,..) or when some exceptions happens or if expected string is not found in response
# failures can be sent to email and/or logged to file

#LogFailuresToFile=true
#LogFailuresFile=errors.txt

#SentEmailOnError=true
#Smtp=smtp.server
#SmtpUsername=smtp_login
#SmtpPassword=smtp_pwd
#EmailTo=to@example.com
#EmailFrom=from@example.com
#EmailFromName=Sender Name
